*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(202, 202, 202);
}

/*header*/
header{
    background-color: white;
}
#head-logo{
    vertical-align: middle;
}

#title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    vertical-align: top;
}
/* main content*/
    /* button section */

.main{
    max-width: 80%;
    margin: 0 auto;
}

#button{
    margin-top: 40px;
    padding: 10px ;
    background-color: white;
}

#add-task{
    background-color: rgb(7, 123, 255);
    border-radius: 6px;
    padding: 7px 10px;
    margin-left: 20px;
    border: 0;
}

#task-text{
    color: white;
}

#add-section{
    background-color: white;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 6px;
    padding: 7px 10px;
}

#section-text{
    color: rgb(202, 202, 202);
}

    /* todolist section */

#todolist{
    margin-top: 1px;
    background-color: white;
}


.main-point{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 40px;
    list-style-type: none;
    
}

.sub-list{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 0;
    list-style-type: none;
}

.cross{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}

.check{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
}